In [1]:
print("Hello World! I wonder why that is always the default coding text to start with")

Hello World! I wonder why that is always the default coding text to start with

In [2]:
66 + 99

165

In [3]:
165 - 99

66

In [4]:
33 * 5

165

In [5]:
165 // 5

33

In [6]:
'data' + ' science'

'data science'

In [7]:
list1 = ['a', 2, 'c', 4]
print(list1)
list1.append('e')
print(list1)

['a', 2, 'c', 4]
['a', 2, 'c', 4, 'e']

In [8]:
tuple1 = ('a', 2, "c", 4)